<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./views/css/style.css" rel="stylesheet" type="text/css"/>
    <title>Student API</title>
</head>
<body>
    <div>
        Detail for API at <a href="./docs/"> Student API Docs</a>
    </div>
</body>
</html>